body {
  margin: 0;
  font-family: system-ui;
  background: #f4f6f8;
}

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.grid {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-4px);
}

.card img {
  height: 120px;
  width: 100%;
  object-fit: contain;
}

.price {
  font-weight: bold;
}

.details {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.center {
  text-align: center;
  padding: 40px;
}



.title {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: -0.7px;
  background: linear-gradient(
    90deg,
    #126be9,
    #5aa9ff,
    #126be9
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: fadeSlide 0.8s ease-out,
             gradientMove 4s ease infinite;
  display: inline-block;
}

/* the enter translate*/
@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* gradient*/
@keyframes gradientMove {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}







